<section id="contact">
    <h2>Get in Touch</h2>
    <form class="contact-form">
        <input type="text" name="" value="">
        <input type="email" name="" value="">
        <textarea rows="" cols=""></textarea>
        <button type="submit"></button>
    </form>
</section>