<section id="contact" class="contact-section">
    <h2>Get in TOUCH</h2>
    <form class="contact-form">
        <input type="text" name="" value="">
        <input type="email" name="" value="">
        <textarea rows="" cols="" resize="none"></textarea>
        <button type="submit">Send</button>
    </form>
</section>