<section id="contact" class="contact-section">
    <div class="contact-header">
        <h2>Get in TOUCH</h2>
        <a href="mailto:mikeschmerbeck@gmail.com">mikeschmerbeck@gmail.com</a>
    </div> 

    <form class="contact-form" action="https://formspree.io/mikeschmerbeck@gmail.com" method="POST">
        <label>
            <input type="text" name="name">
            <span class="name">Your Name</span>
        </label>

        <label>
            <input type="email" name="email">
            <span class="email">Email</span>
        </label>

        <label>
            <textarea resize="none" name="message"></textarea>
            <span class="message">Write your message</span>
        </label>

        <p class="error hidden">There was an error sending your email. Please try again.</p>

        <button class="submit-btn" type="submit"><span>Send</span></button>
    </form>
</section>