<section id="contact" class="contact-section">
    <h2>Get in TOUCH</h2>

    <form class="contact-form">
        <label>
            <span class="name">Your Name</span>
            <input type="text" name="" value="">
        </label>

        <label>
            <span>Email</span>
            <input type="email" name="" value="">
        </label>

        <label>
            <span>Write your message</span>
            <textarea rows="" cols="" resize="none"></textarea>
        </label>

        <button type="submit">Send</button>
    </form>
</section>