<section id="projects" class="projects-section">
    <div class="projects-header">
        <div class="inner-wrap">
            <h2>Projects</h2>
            <p>Below are a few of the projects I have created recently. I was the sole developer on each one, handling everything from frontend UI/UX design to configuring the API and database on the backend.</p>    
        </div>
    </div>

   <div class="projects-container">
        <!-- cryptokeeper -->
        <% include projs/crypto %>
    
        <hr class="proj-hr">
    
        <!-- droned.reviews -->
        <% include projs/droned %>
    
        <hr class="proj-hr">
    
        <!-- stream it -->
        <% include projs/streamit %>

        <hr class="proj-hr">
    
        <!-- toobverse -->
        <% include projs/toobverse %>
   </div>

</section>