<section id="workflow" class="workflow-section">
    <div class="workflow-target target">
        <h2>Work Flow</h2>
        <p>Some of the tools I use to develop efficiently</p>
    </div>
    <ul>
        <li>
            <!-- VS Code -->
            <div class="img-wrap">
                <a href="https://code.visualstudio.com/" target="__blank">
                    <img src="assets/icons/compressed/vscode-compressor.png" alt="Microsoft Visual Studios Code logo">
                </a>
            </div>
        </li>
        <li>
            <!--  Balsamiq Mockups -->
            <div class="img-wrap">
                <a href="https://www.sketchapp.com/" target="__blank">
                    <img src="assets/icons/compressed/sketch-logo-compressor.png" alt="Sketch logo">
                </a>
            </div>
        </li>
        <li>
            <!--Gulp-->
            <div class="img-wrap gulp-cup">
                <a href="https://gulpjs.com/" target="__blank">
                    <img src="assets/icons/compressed/gulp-cup-compressor.png" alt="Gulp logo">
                </a>
            </div>
        </li>
        <li>
            <!--Browsersync-->
            <div class="img-wrap">
                <a href="https://www.browsersync.io/" target="__blank">
                    <img src="assets/icons/compressed/bsync-compressor.png" alt="Browsersync logo">
                </a>
            </div>
        </li>
        <li>
            <!--Git-->
            <div class="img-wrap">
                <a href="https://git-scm.com/" target="__blank">
                    <img src="assets/icons/compressed/git-icon-black-compressor.png" alt="Git logo">
                </a>
            </div>
        </li>

    </ul>
</section>