<section id="workflow" class="workflow-section">
    <h2>Work Flow</h2>

    <ul>
        <li>
            <!-- VS Code -->
            <div class="img-wrap">
                <img src="assets/icons/compressed/vscode-compressor.png" alt="Microsoft Visual Studios Code logo">
            </div>
        </li>
        <li>
            <!--  Balsamiq Mockups -->
            <div class="img-wrap">
                <img src="assets/icons/original/balsamiq-logo.png" alt="Balsamiq Mockups logo">
            </div>
        </li>
        <li>
            <!--Gulp-->
            <div class="img-wrap gulp-cup">
                <img src="assets/icons/compressed/gulp-cup-compressor.png" alt="Gulp logo">
            </div>
        </li>
        <li>
            <!--Browsersync-->
            <div class="img-wrap">
                <img src="assets/icons/compressed/bsync-compressor.png" alt="Browsersync logo">
            </div>
        </li>

    </ul>
</section>