<section id="work" class="work-section">
  <div class="projects-header">
      <div class="inner-wrap">
          <h2>Work</h2>
          <p>Below is a project I was hired to build. I was the only developer and worked closely with the designer.</p>    
      </div>
    </div>
 <div class="projects-container">
      <!-- cryptokeeper -->
      <% include projs/thinkful %>
  
      <!-- <hr class="proj-hr"> -->

 </div>

</section>