<section id="workflow" class="workflow-section">
    <h2>Work Flow</h2>

    <ul>
        <li>
            <!-- VS Code -->
            <div class="img-wrap">
                <a href="https://code.visualstudio.com/" target="__blank">
                    <img src="assets/icons/compressed/vscode-compressor.png" alt="Microsoft Visual Studios Code logo">
                </a>
            </div>
        </li>
        <li>
            <!--  Balsamiq Mockups -->
            <div class="img-wrap">
                <a href="https://balsamiq.com/" target="__blank">
                    <img src="assets/icons/original/balsamiq-logo.png" alt="Balsamiq Mockups logo">
                </a>
            </div>
        </li>
        <li>
            <!--Gulp-->
            <div class="img-wrap gulp-cup">
                <a href="https://gulpjs.com/" target="__blank">
                    <img src="assets/icons/compressed/gulp-cup-compressor.png" alt="Gulp logo">
                </a>
            </div>
        </li>
        <li>
            <!--Browsersync-->
            <div class="img-wrap">
                <a href="https://www.browsersync.io/" target="__blank">
                    <img src="assets/icons/compressed/bsync-compressor.png" alt="Browsersync logo">
                </a>
            </div>
        </li>
        <li>
            <!--Git-->
            <div class="img-wrap">
                <a href="https://git-scm.com/" target="__blank">
                    <img src="assets/icons/compressed/git-icon-black-compressor.png" alt="Git logo">
                </a>
            </div>
        </li>

    </ul>
</section>