<section id="workflow" class="workflow-section">
    <h2>Work Flow</h2>
    <ul>
        <li>
            <!-- <img src="assets/icons/compressed/mernstack-compressor.jpg" alt=""></li>-->
        </li>
        <li>
            <!-- VS Code -->
            <img src="assets/icons/compressed/vscode-compressor.png" alt="Microsoft Visual Studios Code logo">
        </li>
        <li>
            <!--  Balsamiq Mockups -->
            <img src="assets/icons/original/balsamiq-logo.png" alt="Balsamiq Mockups logo">
        </li>
        <li>
            <!--Gulp-->
            <img src="assets/icons/compressed/gulp-cup-compressor.png" alt="Gulp logo"></li>
        <li>
            <!--Browsersync-->
            <img src="assets/icons/compressed/bsync-compressor.png" alt="Browsersync logo"></li>
        <li>
            <!--OhMyZshell-->
            <img src="assets/icons/original/ohmyzshell.png" alt="Oh MY ZShell logo">
        </li>
    </ul>
</section>