<section id="workflow" class="workflow-section">
    <h2>Work Flow</h2>
    <ul>
        <li>VS Code</li>
        <li>Balsamiq Mockups</li>
        <li>Gulp</li>
        <li>Browsersync</li>
        <li>DevTools</li>
    </ul>
</section>