<article id="cryptokeeper" role="article">

    <h2 id="crypto-title">CryptoKeeper</h2>
    <label for="crypto-title">
        <a href="https://www.cryptokeeper.co" target="__blank">~ cryptokeeper.co ~</a>
    </label>

    <p class="overview">A cryptocurrency tracking (React-Redux) application using Socket.IO for real-time data transfer as well as Twilio and Mailgun for sms text message and email notification alerts. CryptoKeeper displays the price and market data for some of the more popular cryptocurrencies in real-time and allows for users to signup for an account and create custom notification events for a given currency based off of a condition that they choose. When that condition has been met, the user will then receive the custom message they have created via text and/or email depending on what they choose.</p>
    
    <ul class="links-list">
        <li class="live-link">
            <a class="button" href="https://www.cryptokeeper.co" target="__blank">Check it Out</a>
        </li>
        <li class="btn-left">
            <a class="button" href="https://github.com/Schmerb/cryptokeeper-client" target="__blank">Client Code</a>
        </li>
        <li class="btn-right">
            <a class="button" href="https://github.com/Schmerb/cryptokeeper-api" target="__blank">API Code</a>
        </li>
    </ul>

    <div class="prod-images">
        <div class="desktop-img-wrap  target">
            <img src="assets/images/mockup-images/crypto-currencies-black-desktop-compressor.png" alt="My currencies dashboard view of Cryptokeeper.co">                
            <img class="shadow" src="assets/images/shadow.png" alt="monitor shadow">
        </div>
        <div class="laptop-img-wrap  target">
            <img src="assets/images/mockup-images/crypto-home-laptop-compressor.png" alt="My events dashboard view of Cryptokeeper.co">
        </div>
        <div class="mobile-img-wrap  target">
            <img src="assets/images/mockup-images/crypto-mobile-compressor.png" alt="Mobile view of dashboard on Cryptokeeper.co">
        </div>
    </div>

</article>