<article id="droned-reviews" role="article">

    <h2 id="droned-title">Droned Reviews</h2>
    <label for="droned-title">
        <a href="http://www.droned.reviews" target="__blank">~ droned.reviews ~</a>
    </label>

    <p class="overview">Droned Reviews is a user sourced drone review website that provides a platform for users to share personal knowledge and experience with quadcopters. Whether you are an experienced pilot or a first time buyer, it is a place to come and read up on first hand information on the latest drone makes and models provided by real drone pilots and hobbyists such as myself. Users can also navigate through images and technical specifications of some of the top models manufactured by the most trusted names in the personal drone industry.</p>

    <ul class="links-list">
        <li class="btn-left">
            <a class="button" href="http://www.droned.reviews/" target="__blank">Check it Out</a>
        </li>
        <li class="btn-right">
            <a class="button" href="https://github.com/Schmerb/droned-reviews" target="__blank">Code</a>
        </li>
    </ul>

    <div class="prod-images">
        <div class="desktop-img-wrap">
            <img src="assets/images/mockup-images/droned-homepage-desktop-compressor.png" alt="Homepage of droned.reviews">
        </div>
        <div class="laptop-img-wrap">
            <img src="assets/images/mockup-images/droned-reviews-laptop-compressor.png" alt="A review on droned.reviews">
        </div>
        <div class="mobile-img-wrap">
            <img src="assets/images/mockup-images/droned-mobile-compressor.png" alt="A review on mobile device on droned.reviews">
        </div>
    </div>
</article>