<article id="droned-reviews" class="droned" role="article">
    
    <div class="proj-details">
        <h2 id="droned-title">Droned Reviews</h2>
        <label for="droned-title">
            <a href="http://www.droned.reviews" target="__blank">droned.reviews</a>
        </label>
    
        <p class="overview">Droned Reviews is a user-sourced drone review website that provides a platform for users to share personal knowledge and experience with quadcopters. Whether you are an experienced pilot or a first-time buyer, it is a place to come and read up on first-hand information on the latest drone makes and models provided by real drone pilots and hobbyists such as myself. Users can also navigate through images and technical specifications of some of the top models manufactured by the most trusted names in the personal drone industry.</p>
    </div>

    <ul class="tech-logos">
        <li>
            <a href="https://nodejs.org/en/" target="__blank">
                <div class="img-wrap">
                    <img src="assets/icons/compressed/nodejs-icon-compressor.png" alt="Node.js logo">                        
                </div>
            </a>
        </li>
        <li>
            <a href="http://expressjs.com/" target="__blank">
                <div class="img-wrap">
                    <img src="assets/icons/compressed/express-txt-logo-compressor.png" alt="Express.js logo">
                </div>
            </a>
        </li>
        <li>
            <a href="https://www.mongodb.com/" target="__blank">
                <div class="img-wrap">
                    <img src="assets/icons/compressed/mongodb-logo-compressor.png" alt="MongoDB logo">
                </div>
            </a>
        </li>
        <li>
            <a href="https://www.w3.org/TR/html5/" target="__blank">
                <div class="img-wrap html5">
                    <img src="assets/icons/compressed/html5-logo-compressor.png" alt="HTML5 logo">
                </div>
            </a>
        </li>
        <li>
            <a href="https://www.w3.org/TR/css-2017/" target="__blank">
                <div class="img-wrap css3">
                    <img src="assets/icons/compressed/css3-compressor.png" alt="CSS3 logo">
                </div>
            </a>
        </li>
        <li>
            <a href="https://jquery.com/" target="__blank">
                <div class="img-wrap">
                    <img src="assets/icons/compressed/jquery-withtext-compressor.png" alt="jQuery logo">
                </div>
            </a>
        </li>
    </ul>

    <ul class="links-list">
        <li class="btn-left">
            <a class="button" href="http://www.droned.reviews/" target="__blank">
                Check it Out
            </a>
        </li>
        <li class="btn-right">
            <a class="button" href="https://github.com/Schmerb/droned-reviews" target="__blank">
                <span>Code</span>
                <svg class="icon icon-code-icon"><use xlink:href="#icon-code-icon"></use></svg>
            </a>
        </li>
    </ul>

    <div class="prod-images target">
        <div class="desktop-img-wrap reverse">
            <img src="assets/images/mockup-images/droned-homepage-desktop-compressor.png" alt="Homepage of droned.reviews">
            <img class="shadow" src="assets/images/shadow.png" alt="monitor shadow">
        </div>
        <div class="laptop-img-wrap reverse">
            <img src="assets/images/mockup-images/droned-reviews-laptop-compressor.png" alt="A review on droned.reviews">
        </div>
        <div class="mobile-img-wrap reverse">
            <img src="assets/images/mockup-images/droned-mobile-compressor.png" alt="A review on mobile device on droned.reviews">
        </div>
    </div>
</article>