<article id="streamit" role="article">

    <h2 id="streamit-title">Stream It</h2>
    <label for="streamit-title">
        <a href="https://schmerb.github.io/stream-it/" target="__blank">~ schmerb.github.io/stream-it ~</a>
    </label>

    <p class="overview">A front-end only search engine where users can find out exactly where and for how much they can currently stream a movie or tv show as well as find ratings and other useful information. It uses the GuideBox API to leverage about 340 sources. Unfortunately the API is no longer public and service to Stream It has since expired, but data on roughly 500 movies has been cached to retain some level of functionality.</p>
    
    <ul class="links-list">
        <li class="btn-left">
            <a class="button" href="https://schmerb.github.io/stream-it/" target="__blank">Check it Out</a>
        </li>
        <li class="btn-right">
            <a class="button" href="https://github.com/Schmerb/stream-it" target="__blank">Code</a>
        </li>
    </ul>

    <div class="prod-images">
        <div class="desktop-img-wrap righthand">
            <img src="assets/images/mockup-images/streamit-interstellar-withsuggestions-compressor.png" alt="">                
        </div>
        <div class="laptop-img-wrap righthand">
            <img src="assets/images/mockup-images/streamit-home-laptop-compressor.png" alt="">
        </div>
        <div class="mobile-img-wrap righthand">
            <img src="assets/images/mockup-images/streamit-mobile-compressor.png" alt="A mobile view of viewing sources on schmerb.github.io/stream-it">
        </div>
    </div>
</article>