<article id="streamit" class="streamit" role="article">
    
    <div class="proj-details">
        <h2 id="streamit-title">Stream It</h2>
        <label for="streamit-title">
            <a href="https://schmerb.github.io/stream-it/" target="__blank">schmerb.github.io/stream-it</a>
        </label>
        
        <p class="overview">A front-end only search engine where users can find out exactly where and for how much they can currently stream a movie or tv show as well as find ratings and other useful information. It uses the GuideBox API to leverage about 340 sources. Unfortunately, the API is no longer public and service to Stream It has since expired, but data on roughly 500 movies have been cached to retain some level of functionality.</p>
    </div>
    
    <ul class="tech-logos">
        <li>
            <a href="https://www.w3.org/TR/html5/" target="__blank">
                <div class="img-wrap html5">
                    <img src="assets/icons/compressed/html5-logo-compressor.png" alt="HTML5 logo">
                </div>
            </a>
        </li>
        <li>
            <a href="https://www.w3.org/TR/css-2017/" target="__blank">
                <div class="img-wrap css3">
                    <img src="assets/icons/compressed/css3-compressor.png" alt="CSS3 logo">
                </div>
            </a>
        </li>
        <li>
            <a href="https://jquery.com/" target="__blank">
                <div class="img-wrap">
                    <img src="assets/icons/compressed/jquery-withtext-compressor.png" alt="jQuery logo">
                </div>
            </a>
        </li>
        <li>
            <a href="http://kenwheeler.github.io/slick/" target="__blank">
                <div class="img-wrap">
                    <img src="assets/icons/compressed/slick-js-compressor.png" alt="Slick.js logo">
                </div>
            </a>
        </li>
    </ul>

    <ul class="links-list">
        <li class="btn-left">
            <a class="button" href="https://schmerb.github.io/stream-it/" target="__blank">Check it Out</a>
        </li>
        <li class="btn-right">
            <a class="button" href="https://github.com/Schmerb/stream-it" target="__blank">
                <span>Code</span>
                <svg class="icon icon-code-icon"><use xlink:href="#icon-code-icon"></use></svg>
            </a>
        </li>
    </ul>

    <div class="prod-images target">
        <div class="desktop-img-wrap">
            <img src="assets/images/mockup-images/streamit-interstellar-withsuggestions-compressor.png" alt="">                
            <img class="shadow" src="assets/images/shadow.png" alt="monitor shadow">
        </div>
        <div class="laptop-img-wrap">
            <img src="assets/images/mockup-images/streamit-home-laptop-compressor.png" alt="">
        </div>
        <div class="mobile-img-wrap">
            <img src="assets/images/mockup-images/streamit-mobile-compressor.png" alt="A mobile view of viewing sources on schmerb.github.io/stream-it">
        </div>
    </div>
</article>