<article id="net-neutrality" role="article">

  <div class="proj-details">
      <h2 id="net-neutrality-title">Net Neutrality Microsite for Thinkful<span class='copy-icon'>&copy;</span></h2>
      <label for="net-neutrality-title">
          <a href="https://www.thinkful.com/net-neutrality/" target="__blank">thinkful.com/net-neutrality</a>
      </label>
  
      <p class="overview">An interactive, map-based microsite built for Thinkful to showcase the 2018 House and Senate Candidates and their stances on Net Neutrality. Based on the amount of data and user interactivity involved, it was determined that React would be the perfect conduit to showcase the information.</p>
  </div>

  <!-- Tech -->
  <ul class="tech-logos" id="crypto-tech-list">
      <!-- <label for="crypto-tech-list">Tech:</label> -->
      <li>
          <a href="https://reactjs.org/" target="__blank">
              <div class="img-wrap">
                  <img src="assets/icons/compressed/react-redux-compressor.png" alt="React.js and Redux logos">                
              </div>
          </a>
      </li>
      <li>
          <a href="https://www.mongodb.com/" target="__blank">
              <div class="img-wrap">
                  <img src="assets/icons/compressed/mongodb-logo-compressor.png" alt="MongoDB logo">
              </div>
          </a>
      </li>
      <li>
          <a href="http://sass-lang.com/" target="__blank">
              <div class="img-wrap">
                  <img src="assets/icons/compressed/sass-compressor.png" alt="Sass LOGO">
              </div>
          </a>
      </li>
  </ul>

  <!-- Links -->
  <ul class="links-list">
      <li class="live-link">
          <a class="button" href="https://www.thinkful.com/net-neutrality/" target="__blank">Check it Out</a>
      </li>
      <li class="btn-left">
          <a class="button crypto client" href="https://github.com/Schmerb/net-neutrality-app-client" target="__blank">
              <span>Client Code</span>
              <svg class="icon icon-code-icon"><use xlink:href="#icon-code-icon"></use></svg>
          </a>
      </li>
      <li class="btn-right">
          <a class="button crypto api" href="https://github.com/Schmerb/net-neutrality-app-server" target="__blank">
              <span>API Code</span>
              <svg class="icon icon-code-icon"><use xlink:href="#icon-code-icon"></use></svg>
          </a>
      </li>
  </ul>

  <!-- Production images -->
  <div class="prod-images target">
      <div class="desktop-img-wrap">
          <img src="assets/images/mockup-images/net-neutrality-1-compressor.png" alt="My currencies dashboard view of Cryptokeeper.co">                
          <img class="shadow" src="assets/images/shadow.png" alt="monitor shadow">
      </div>
      <div class="laptop-img-wrap">
          <img src="assets/images/mockup-images/net-neutrality-2-compressor.png" alt="My events dashboard view of Cryptokeeper.co">
      </div>
      <div class="mobile-img-wrap">
          <img src="assets/images/mockup-images/net-neutrality-mobile-2-compressor.png" alt="Mobile view of dashboard on Cryptokeeper.co">
      </div>
  </div>

</article>