<article id="toobverse" role="article">
    
        <div class="proj-details">
            <h2 id="toobverse-title">Toobverse</h2>
            <label for="toobverse-title">
                <a href="https://schmerb.github.io/toobverse/" target="__blank">schmerb.github.io/toobverse</a>
            </label>
        
            <p class="overview">Toobverse is a modern web platform designed for users to search and view YouTube media and discover high-quality videos as well as live broadcasted content in an easy to navigate and sleek environment</p>

        </div>
    
        <ul class="tech-logos" id="toobverse-tech-list">
            <li>
                <a href="https://www.w3.org/TR/html5/" target="__blank">
                    <div class="img-wrap html5">
                        <img src="assets/icons/compressed/html5-logo-compressor.png" alt="HTML5 logo">
                    </div>
                </a>
            </li>
            <li>
                <a href="https://www.w3.org/TR/css-2017/" target="__blank">
                    <div class="img-wrap css3">
                        <img src="assets/icons/compressed/css3-compressor.png" alt="CSS3 logo">
                    </div>
                </a>
            </li>
            <li>
                <a href="https://jquery.com/" target="__blank">
                    <div class="img-wrap">
                        <img src="assets/icons/compressed/jquery-withtext-compressor.png" alt="jQuery logo">
                    </div>
                </a>
            </li>
            <li>
                <a href="http://kenwheeler.github.io/slick/" target="__blank">
                    <div class="img-wrap">
                        <img src="assets/icons/compressed/slick-js-compressor.png" alt="Slick.js logo">
                    </div>
                </a>
            </li>
        </ul>
    
        <ul class="links-list">
            <li class="btn-left">
                <a class="button" href="https://schmerb.github.io/toobverse/" target="__blank">Check it Out</a>
            </li>
            <li class="btn-right">
                <a class="button crypto client" href="https://github.com/Schmerb/toobverse" target="__blank">
                    <span>Client Code</span>
                    <svg class="icon icon-code-icon"><use xlink:href="#icon-code-icon"></use></svg>
                </a>
            </li>
        </ul>
    
        <div class="prod-images target">
            <div class="desktop-img-wrap">
                <img src="assets/images/mockup-images/toob-search-desktop-compressor.png" alt="Desktop view of search results on Toobverse">                
                <img class="shadow" src="assets/images/shadow.png" alt="monitor shadow">
            </div>
            <div class="laptop-img-wrap">
                <img src="assets/images/mockup-images/toob-video-laptop-2-compressor.png" alt="Laptop view of video page on Toobverse">
            </div>
            <div class="mobile-img-wrap">
                <img src="assets/images/mockup-images/toob-mobile-compressor.png" alt="Mobile view of homepage on Toobverse">
            </div>
        </div>
    
    </article>