<% layout('layout') %>

<div class="container">

    <!-- ABOUT ME ~ BIO-->
    <section class="about-me">
        <h2>About Me</h2>
        <p></p>
    </section>


    <!-- PROJECTS  -->
    <section class="projects">
        <h2>Projects</h2>
        <article id="cryptokeeper" role="article">
            <h2>CryptoKeeper</h2>
        </article>

        <article id="droned-reviews" role="article">
            <h2>Droned Reviews</h2>
        </article>

        <article id="streamit" role="article">
            <h2>Stream It</h2>
        </article>
    </section>


    <!-- CONTACT -->
    <section class="contact">
        <h2>Get in Touch</h2>
        <form class="contact-form">
            <input type="text" name="" value="">
            <input type="email" name="" value="">
            <textarea rows="" cols=""></textarea>
            <button type="submit"></button>
        </form>
    </section>

</div>