<% layout('layout') %>

<div class="container">

    <!-- PROJECTS  -->
    <% include sections/projects %>

    <!-- ABOUT ME ~ BIO-->
    <% include sections/about-me %>

    <!-- WORK FLOW  -->
    <% include sections/work-flow %>
 
    <hr class="workflow-hr">

    <!-- CONTACT -->
    <% include sections/contact %>

</div>