<% layout('layout') %>

<div class="container">

    <div class="loading-page">
        <svg class="icon icon-loading-icon"><use xlink:href="#icon-loading-icon"></use></svg>
        <img src="assets/images/compressed/nicolas-cool-111447-compressor.jpg" alt="Background image load test.">
    </div>

    <!-- PROJECTS  -->
    <% include sections/projects %>

    <!-- ABOUT ME ~ BIO-->
    <% include sections/about-me %>

    <!-- WORK FLOW  -->
    <% include sections/work-flow %>
 
    <hr class="workflow-hr">

    <!-- CONTACT -->
    <% include sections/contact %>

</div>