<% layout('layout') %>

<div class="container">

    <!-- <div class="boxes">
        <div class="box b1"></div>
        <div class="box b2"></div>
        <div class="box b3"></div>
        <div class="box b4"></div>
    </div> -->

    <!-- ABOUT ME ~ BIO-->
    <% include sections/about-me %>

    <!-- PROJECTS  -->
    <% include sections/projects %>

    <!-- WORK FLOW  -->
    <% include sections/work-flow %>
 
    <!-- CONTACT -->
    <% include sections/contact %>

</div>