<% layout('layout') %>

<div class="container">

    <!-- ABOUT ME ~ BIO-->
    <% include partials/about-me %>

    <!-- PROJECTS  -->
    <% include partials/projects %>

    <!-- CONTACT -->
    <% include partials/contact %>

</div>