<!DOCTYPE html>
<html lang="en">
    <head>
       <% include partials/head %>
    </head>
    <body>
        <!-- svg symbol defs -->
        <% include icons/symbols %>

        <!-- HEADER -->
        <% include partials/header %>
        
         <!-- MAIN -->
        <main role="main">
            <%- body -%>
        </main>

        <!-- FOOTER -->
        <% include partials/footer %>
        
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="/libs/slick-1.8/slick.min.js"></script>
        <script type="text/javascript" src="/libs/particles/particles.min.js"></script>
        <script type="text/javascript" src="/js/bundle.min.js"></script>
    </body>
</html>

