<footer class="footer" role="contentinfo">
    <div class="up-icon-wrap hidden">
        <svg class="icon icon-up-arrow-box"><use xlink:href="#icon-up-arrow-box"></use></svg>        
    </div>
    <nav>
        <ul>
            <li><a class="project" href="#projects">PROJECTS</a></li>
            <li><a class="about" href="#about-me">ABOUT</a></li>
            <li><a class="workflow" href="#workflow">WORK FLOW</a></li>
            <li><a class="contact" href="#contact">CONTACT</a></li>
        </ul>
    </nav>

    <ul class="social-links">
        <li>
            <a href="https://github.com/Schmerb" target="__blank">
                <svg class="icon icon-github-icon"><use xlink:href="#icon-github-icon"></use></svg>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/mike.schmerbeck" target="__blank">
                <svg class="icon icon-fb-icon"><use xlink:href="#icon-fb-icon"></use></svg>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/michael-schmerbeck-20a8a7126/" target="__blank">
                <svg class="icon icon-linkedin-icon"><use xlink:href="#icon-linkedin-icon"></use></svg>
            </a>
        </li>
    </ul>

    <div class="copyright">
        <span>copyright &copy 2017 Mike Schmerbeck</span>
        <a href="mailto:mikeschmerbeck@gmail.com">
            <svg class="icon icon-email-icon"><use xlink:href="#icon-email-icon"></use></svg>
        </a>
    </div>
</footer>