<footer class="footer" role="contentinfo">
    <div class="up-icon-wrap">
        <svg class="icon icon-up-arrow-box"><use xlink:href="#icon-up-arrow-box"></use></svg>        
    </div>
    <nav>
        <ul>
            <li><a href="">PROJECTS</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">WORK FLOW</a></li>
            <li><a href="">CONTACT</a></li>
        </ul>
    </nav>

    <ul class="social-links">
        <li>
            <a href="https://github.com/Schmerb" target="__blank">
                <svg class="icon icon-github-icon"><use xlink:href="#icon-github-icon"></use></svg>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/mike.schmerbeck" target="__blank">
                <svg class="icon icon-fb-icon"><use xlink:href="#icon-fb-icon"></use></svg>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/michael-schmerbeck-20a8a7126/" target="__blank">
                <svg class="icon icon-linkedin-icon"><use xlink:href="#icon-linkedin-icon"></use></svg>
            </a>
        </li>
    </ul>

    <span class="copyright">copyright &copy 2017 Mike Schmerbeck</span>
</footer>