<footer class="footer" role="contentinfo">
    <nav>
        <ul>
            <li>Home</li>
            <li>WORK</li>
            <li>ABOUT</li>
        </ul>
    </nav>
    <span>copyright &copy Mike Schmerbeck</span>
</footer>