<header id="main-header" class="banner" role="banner">
    <div class="headline">
        <p class="me-overview">Hey, I'm <span class="my-name">Mike</span>.<br><span class="me-overview-sm">I'm A</span> Fullstack Developer.</p>
        <p class="skills-overview">MongoDB + Express + React + Node</p>
    </div>
    <button class="checkout-btn" type="button">
        Check My Work
        <svg class="icon icon-arrow-down"><use xlink:href="#icon-arrow-down"></use></svg>
    </button>
    <div id="particles-js"></div>
</header>