<title>Mike Schmerbeck | Portfolio</title>
<meta charset="UTF-8">
<meta name="description" content="Portfolio website for Mike Schmerbeck, fullstack web developer">
<meta name="keywords" content="portfolio, web, developer, fullstack, thinkful">
<meta name="author" content="Mike Schmerbeck">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Normalize.css, a cross-browser reset file -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css" rel="stylesheet"> 
<!-- slick base css -->
<link href="/libs/slick-1.8/slick-theme.css" rel="stylesheet" type="css" >
<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<!-- styles -->
<link href="/css/screen.min.css" rel="stylesheet">
<!-- favicons -->
<% include ../icons/favicons %>