<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102298589-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-102298589-3');
</script>

<script>
  var host = "www.mikeschmerbeck.com";
  if ((host == window.location.host) && (window.location.protocol != "https:")){
   window.location.protocol = "https";
  }
</script> 



<title>Mike Schmerbeck | Portfolio</title>
<meta charset="UTF-8">
<meta name="description" content="Portfolio website for Mike Schmerbeck, fullstack web developer">
<meta name="keywords" content="portfolio, web, developer, fullstack, thinkful">
<meta name="author" content="Mike Schmerbeck">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Normalize.css, a cross-browser reset file -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css" rel="stylesheet"> 
<!-- slick base css -->
<link href="/libs/slick-1.8/slick-theme.css" rel="stylesheet" type="css" >
<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lato:300,400|Raleway|Poppins:200,400|Roboto:300,400" rel="stylesheet">
<!-- styles -->
<link href="/css/screen.min.css" rel="stylesheet">
<!-- favicons -->
<% include ../icons/favicons %>