<header id="main-header" class="banner" role="banner">
    <div id="particles-js"></div>

    <div class="headline">
        <p class="me-overview">Hey, I'm <span class="my-name">Mike Schmerbeck</span>.<br><span class="me-overview-sm"></span> I'm A Full-stack Developer.</p>
        <p class="skills-overview">MongoDB + Express + React + Node</p>
    </div>

    <button class="checkout-btn" type="button">
        Check My Work
        <svg class="icon icon-arrow-down"><use xlink:href="#icon-arrow-down"></use></svg>
    </button>

    <div class="fixed-banner show">
        <button class="burger-btn">
            <div class="burger"></div>
        </button>
        <nav class="main-nav">
            <ul>
                <li><a class="project" href="#projects">PROJECTS</a></li>
                <li><a class="work" href="#work">WORK</a></li>
                <li><a class="about" href="#about-me">ABOUT</a></li>
                <li><a class="workflow" href="#workflow">WORK FLOW</a></li>
                <li><a class="contact" href="#contact">CONTACT</a></li>
            </ul>
        </nav>
    </div>

</header>