<header id="main-header" class="banner" role="banner">
    <!-- <h1 class="title">Mike Schmerbeck</h1> -->
    <!-- <nav role="navigation">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Me</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav> -->
    <div class="headline">
        <p class="me-overview">Hey, I'm <span class="my-name">Mike</span>.<br>I'm A Fullstack Developer.</p>
        <p class="skills-overview">MongoDB + Express + React + Node</p>
    </div>
    <button class="checkout-btn" type="button">
        Check My Work
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;-inkscape-font-specification:Sans" d="M12.625 24.982a3 3 0 0 0-1.906 4.937l37 44a3 3 0 0 0 4.56 0l37-44a3 3 0 1 0-4.56-3.845L50 67.357 15.28 26.075a3 3 0 0 0-2.655-1.093z" color="#000" overflow="visible" font-family="Sans"/></svg>
    </button>
    <div id="particles-js"></div>
</header>